<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="index.html" style="font-size:32px;">尚筹网-创意产品众筹平台</a></div>
        </div>
      </div>
    </nav>

    <div class="container">

      <form id="reg-form" class="form-signin" role="form" action="reg.do" method="post">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户注册</h2>
          <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>提示</strong> 此用户名已被使用，请更换一个
          </div>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" placeholder="请输入登录账号" name="userName" autofocus th:value="${user.userName}">
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
              <span class="error-info" style="color: red"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<input type="password" class="form-control" placeholder="请输入登录密码" name="userPswd" style="margin-top:10px;">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
              <span class="error-info" style="color: red"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" placeholder="请输入邮箱地址" name="email" th:value="${user.email}" style="margin-top:10px;">
			<span class="glyphicon glyphicon glyphicon-envelope form-control-feedback"></span>
              <span class="error-info" style="color: red"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<select class="form-control" name="loginAcct">
                <option selected value="member">会员</option>
                <option value="manager">管理</option>
            </select>
		  </div>
        <div class="checkbox">
          <label>
            忘记密码
          </label>
          <label style="float:right">
            <a href="login.html">我有账号</a>
          </label>
        </div>
        <input id="to-submit" class="btn btn-lg btn-success btn-block" type="submit" value="注册" />
      </form>
    </div>
    <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
    <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="plugins/jquery-validation-1.13.1/dist/jquery.validate.min.js" th:src="@{/plugins/jquery-validation-1.13.1/dist/jquery.validate.min.js}" ></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            showErrors: function(map, list) {
                $(".error-info").empty();
                $(".form-group").removeClass("has-success has-error has-warning");
                $.each(list, function () {
                    //alert(this.element);
                    $(this.element).nextAll(".error-info").text(this.message);
                    $(this.element).parent("div.form-group").addClass("has-error");
                })
            }
        });
        $("#reg-form").validate({
            rules: {
                userName: {
                    required: true,
                    minlength: 2
                },
                userPswd: {
                    required: true,
                    minlength: 6,
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                userName: {
                    required: "请输入用户名",
                    minlength: "用户名至少要两位字符"
                },
                userPswd: {
                    required: "请输入密码",
                    minlength: "密码长度至少要6位",
                },
                email: "请输入正确的邮箱"
            }
        });
    </script>
  </body>
</html>