<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	  <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	  <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
      <link rel="stylesheet" href="/css/zTreeStyle.css" th:href="@{/ztree/zTreeStyle.css}">
	  <script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
	  <script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	  <script src="script/docs.min.js" th:src="@{/script/docs.min.js}"></script>
      <script src="script/jquery.ztree.all-3.5.min.js" th:src="@{/ztree/jquery.ztree.all-3.5.min.js}"></script>
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	table tbody tr:nth-child(odd){background:#F4F4F4;}
	table tbody td:nth-child(even){color:#C00;}
	</style>
  </head>

  <body>

  <nav th:replace="module/nav::nav"></nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="module/menu::userMenu"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
			  </div>
			  <div class="panel-body">
<form class="form-inline" role="form" style="float:left;">
  <div class="form-group has-feedback">
    <div class="input-group">
      <div class="input-group-addon">查询条件</div>
      <input class="form-control has-success" type="text" placeholder="请输入查询条件" id="key_word">
    </div>
  </div>
  <button type="button" class="btn btn-warning" id="search_btn"><i class="glyphicon glyphicon-search"></i> 查询</button>
</form>
<button type="button" class="btn btn-danger" style="float:right;margin-left:10px;" id="delete_role_btn"><i class=" glyphicon glyphicon-remove"></i> 删除</button>
<button type="button" class="btn btn-primary" style="float:right;" id="add_role_btn"><i class="glyphicon glyphicon-plus"></i> 新增</button>
<br>
 <hr style="clear:both;">
          <div class="table-responsive">
            <table class="table  table-bordered">
              <thead>
                <tr >
                  <th width="30">#</th>
				  <th width="30"><input type="checkbox" id="check_all"></th>
                  <th>名称</th>
                  <th width="250">操作</th>
                </tr>
              </thead>
              <tbody th:if="${pageVO != null}">
                <tr th:each="role : ${pageVO.list}">
                  <td th:text="${role.getId()}">1</td>
				  <td><input type="checkbox" class="check"></td>
                  <td th:text="${role.getName()}" class="rolename">PM - 项目经理</td>
                  <td>
				      <button type="button" class="btn btn-success btn-xs addPermission"><i class=" glyphicon glyphicon-check"></i>调整权限</button>
                      <button type="button" class="btn btn-danger btn-xs del_all_permission"><i class=" glyphicon glyphicon-remove"></i>删除权限</button>
					  <button type="button" class="btn btn-danger btn-xs del_single_role"><i class=" glyphicon glyphicon-remove"></i>删除角色</button>
				  </td>
                </tr>

              </tbody>
                <tbody th:if="${pageVO == null}">
                    <tr>
                        <td colspan="4" align="center">查询不到数据</td>
                    </tr>
                </tbody>
			  <tfoot th:if="${pageVO != null}">
			     <tr>
				     <td colspan="6" align="center">
						<ul class="pagination">
                            <li><a th:href="@{/role/rolelist.do(num=1)}">首页</a></li>
                            <!-- 上一页 -->
                            <li th:if="${pageVO.hasPrePage == false}"><span style="color : gray">上一页</span></li>
                            <li th:if="${pageVO.hasPrePage == true}"><a th:href="@{/role/rolelist.do(num=${pageVO.pageNum - 1})}">上一页</a></li>
                            <!--   总页数大于0且小于等于5  -->
                            <th:block th:if="${pageVO.totalPage > 0 && pageVO.totalPage <=5}" th:each="page : ${pageVO.showPages}">
                                <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                </a>
                                </li>
                            </th:block>
                            <!--   总页数页数等于6  -->
                            <th:block th:if="${pageVO.totalPage ==6}" >
                                <th:block th:if="${pageVO.pageNum <= 3}" >
                                    <th:block th:each="page : ${pageVO.showPages}">
                                        <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                        </a>
                                        </li>
                                    </th:block>
                                    <li><span>...</span></li>
                                </th:block>
                                <th:block th:if="${pageVO.pageNum > 3}" >
                                    <li><span>...</span></li>
                                    <th:block th:each="page : ${pageVO.showPages}">
                                        <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                        </a>
                                        </li>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <!--   总页数页数大于6  -->
                            <th:block th:if="${pageVO.totalPage > 6}" >
                                <th:block th:if="${pageVO.pageNum <= 3}" >
                                    <th:block th:each="page : ${pageVO.showPages}">
                                        <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                        </a>
                                        </li>
                                    </th:block>
                                    <li><span>...</span></li>
                                </th:block>
                                <th:block th:if="${pageVO.pageNum > 3 && pageVO.pageNum < pageVO.totalPage - 2}" >
                                    <li><span>...</span></li>
                                    <th:block th:each="page : ${pageVO.showPages}">
                                        <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                        </a>
                                        </li>
                                    </th:block>
                                    <li><span>...</span></li>
                                </th:block>
                                <th:block th:if="${pageVO.pageNum >= pageVO.totalPage - 2}" >
                                    <li><span>...</span></li>
                                    <th:block th:each="page : ${pageVO.showPages}">
                                        <li><a th:href="@{/role/rolelist.do(num=${page})}">
                                            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                                        </a>
                                        </li>
                                    </th:block>
                                </th:block>
                            </th:block>
                            <!-- 下一页 -->
                            <li th:if="${pageVO.hasNextPage == false}"><span style="color: gray">下一页</span></li>
                            <li th:if="${pageVO.hasNextPage == true}"><a th:href="@{/role/rolelist.do(num=${pageVO.pageNum + 1})}">下一页</a></li>
                            <li><a th:href="@{/role/rolelist.do(num=${pageVO.totalPage})}" th:text="'末页 - ' + ${pageVO.totalPage}">末页</a></li>
							 </ul>
					 </td>
				 </tr>

			  </tfoot>
            </table>
          </div>
			  </div>
			</div>
        </div>
      </div>
    </div>
  <!-- 添加角色模态框 -->
  <div class="modal" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">新增角色</h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label for="inputRole" class="col-sm-2 control-label">角色名称</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputRole" placeholder="请输入角色名称">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-offset-2 col-sm-4">
                              <button type="button" class="btn btn-primary" id="addNewRoleBtn">新增</button>
                          </div>
                          <div class="col-sm-5 label label-success" id="operateInfo" style="display: none">
                              添加成功
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
          </div>
      </div>
  </div>

  <!-- 添加权限数模态框 -->
  <div class="modal" id="addRolePermissionModal" tabindex="-1" role="dialog" aria-labelledby="addRolePermissionModalLable">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="addRolePermissionModalLable">角色权限配置</h4>
              </div>
              <div class="modal-body">
                <!--        展示权限树          -->
                  <div>
                      <ul id="permissonTree" class="ztree"></ul>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" id="addPermissionBtn">添加权限</button>
              </div>
          </div>
      </div>
  </div>

        <script type="text/javascript">
            // 全局常量，权限路径
            var baseUrl = "/scw/permission/";
            // 权限数对象
            var ztreeObject;

            $(".del_all_permission").click(function () {
                var roleId = $(this).parent().parent().children().first().text();
                if (confirm("确定删除该角色的全部权限吗？")) {
                    $.ajax({
                        url: baseUrl + "deleteallpermission.do",
                        data: "roleId=" + roleId,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.status == "success") {
                                alert("删除权限成功");
                            } else {
                                alert("删除权限失败");
                            }
                        }
                    });
                }
            });

            function checkall_reverse(check_all_btn, check_btn) {
                check_all_btn.click(function(){
                    check_btn.prop("checked", $(this).prop("checked"));
                });
                check_btn.click(function(){
                    var flag = check_btn.filter(":checked").length == check_btn.length;
                    check_all_btn.prop("checked", flag);
                })
            }

            checkall_reverse($("#check_all"), $(".check"));

            // 批量的删除
            $("#delete_role_btn").click(function () {
                var roleId = "";
                $(".check").filter(":checked").each(function () {
                    var rId = $(this).parent().prev().text();
                    roleId += rId + ",";
                })
                if (roleId.length < 1) {
                    alert("请先勾选要删除的角色");
                    return;
                }
                if (confirm("确定删除所勾选的角色吗？")) {
                    deleteRole(roleId, null, 1);
                }
            });

            // 单个的删除
            $(".del_single_role").click(function () {
                var roleId = $(this).parent().parent().children().first().text();
                var roleName = $(this).parent().prev().text();
                if (confirm("确定删除名称为【" + roleName +  "】的角色吗？")) {
                    deleteRole(roleId, roleName, 0);
                }
            });

            // 删除角色的ajax
            function deleteRole(roleId, roleName, type) {
                $.ajax({
                    url: baseUrl + "delrole.do",
                    data: "roleId=" + roleId,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "success") {
                            location.href = "/scw/role/rolelist.do";
                        } else if (data.status == "restrain") {
                            if (type == 0) {
                                alert("角色【" + roleName + "】删除失败！请点击【删除权限】按钮删除该角色所有权限再点击删除");
                            } else if (type == 1) {
                                alert("所选择的角色删除失败！请点击【删除权限】按钮删除选择角色的所有权限再点击删除");
                            }
                        } else {
                            if (type == 0) {
                                alert("角色【" + roleName + "】删除失败！");
                            } else if (type == 1) {
                                alert("所选择的角色删除失败！");
                            }
                        }
                    }
                });
            }

            $("#addPermissionBtn").click(function () {
                var roleId = $(this).attr("roleId");
                var node = ztreeObject.getCheckedNodes(true);
                var pId = "";
                $.each(node, function () {
                    pId += this.id + ",";
                })
                if (pId.length < 1) {
                    alert("请至少选择一项权限");
                    return;
                }
                $.ajax({
                    url: baseUrl + "updatepermission.do",
                    data: "roleId=" + roleId + "&permissionId=" + pId,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "success") {
                            $("#addRolePermissionModal").modal("hide");
                        } else {
                            alert("更新权限失败！");
                        }
                    }
                });
            });

            $(function () {
			    $(".list-group-item").click(function(){
				    if ( $(this).find("ul") ) {
						$(this).toggleClass("tree-closed");
						if ( $(this).hasClass("tree-closed") ) {
							$("ul", this).hide("fast");
						} else {
							$("ul", this).show("fast");
						}
					}
				});
            });
			// 将导航栏-菜单名改成当前菜单名
            $("#nav-page-name").text($("a[href='/scw/role/rolemanager.do'] span").text());
            $("a[href='/scw/role/rolemanager.do']").css("color", "red");
            $("a[href='/scw/role/rolemanager.do']").parents(".list-group-item").removeClass("tree-closed").children("ul").show(10);
            
            $("#search_btn").click(function () {
                var keyWord = $("#key_word").val();
                if (keyWord == null || keyWord.trim() == '') {
                    alert("请输入有效关键字");
                    return;
                }
                var search = "search=" + keyWord;
                var num = "num=" + $("span[style='color : red']").text();
                window.location.href = "rolelist.do?" + num + "&" + search;
            });

            $("#add_role_btn").click(function () {
                $("#inputRole").val("");
                $("#operateInfo").hide();
                var option = {
                    backdrop:"static",
                    show: true
                }
                $("#addRoleModal").modal(option);
            });

            $("#inputRole").focus(function () {
                $("#operateInfo").hide();
            })

            $("#addNewRoleBtn").click(function () {
                var roleName = $("#inputRole").val().trim();
                if (roleName == '' || roleName.length >10) {
                    $("#operateInfo").removeClass("label-success").addClass("label-danger")
                        .text("请输入有效角色名（少于等于10个字符）")
                        .show();
                    return;
                }
                $.ajax({
                    url: "/scw/role/addRoleName.do",
                    data: "roleName=" + roleName,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if ("success" == data.status) {
                            dealWithSuccess(roleName);
                        } else if ("duplicate" == data.status) {
                            dealWithDuplicat(roleName);
                        } else {
                            dealWithFail(roleName);
                        }
                    }
                });
            });

            function dealWithSuccess(roleName) {
                $("#inputRole").val('');
                $("#operateInfo").removeClass().addClass("col-sm-5 label label-success")
                    .text("角色【" + roleName + "】添加成功")
                    .show();
            }

            function dealWithFail(roleName) {
                $("#operateInfo").removeClass().addClass("col-sm-5 label label-danger")
                    .text("角色【" + roleName + "】添加失败")
                    .show();
            }

            function dealWithDuplicat(roleName) {
                $("#inputRole").val('');
                $("#operateInfo").removeClass().addClass("col-sm-5 label label-warning")
                    .text("角色【" + roleName + "】已存在，请重新输入")
                    .show();
            }

            $(".addPermission").each(function () {
                $(this).click(function () {
                    var id = $(this).parent().parent().children().first().html(); // 角色id
                    // 刷出权限树
                    initPermissionTree(id);
                    var option = {
                        backdrop:"static",
                        show: true
                    }
                    $("#addRolePermissionModal").modal(option);
                    // 传值，将角色id绑定到新增权限按钮上
                    $("#addPermissionBtn").attr("roleId", id);
                });
            })



            function initPermissionTree(id) {
                var setting = {
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "pid"
                        },
                        key: {
                            url: "noUrl"
                        }
                    },
                    view: {
                        addDiyDom: addIconClass
                    },
                    check: {
                        enable: true
                    }
                };
                // zNode 权限信息从数据库查出
                var zNodes;
                $.ajax({
                    url: baseUrl + "permissiontree.do",
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data == '') {
                            zNodes = [];
                        } else {
                            zNodes = data;
                            $.each(zNodes,function () {
                                if(this.pid == 0) {
                                    this.open = true;
                                }
                            })
                        }
                        ztreeObject = $.fn.zTree.init($("#permissonTree"), setting, zNodes);
                        // 将角色已拥有的权限节点勾上
                        checkNode(id);

                    }
                });
            }

            function addIconClass(treeId, treeNode) {
                $("#" + treeNode.tId + "_ico").removeClass().addClass(treeNode.icon);
            }

            function checkNode(id) {
                $.ajax({
                    url: baseUrl + "permissionid.do",
                    type: "post",
                    data: "id=" + id,
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function () {
                            var node = ztreeObject.getNodeByParam("id", this, null);
                            if (!node.isParent) {
                                var parentNode = node.getParentNode();
                                ztreeObject.checkNode(parentNode, true, false);
                            }
                            ztreeObject.checkNode(node, true, false);
                        })
                    }
                });
            }
        </script>
  </body>
</html>
