<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<ul class="pagination" th:fragment="showPage">
    <li><a th:href="@{/user/list.do(num=1)}">首页 - 1</a></li>
    <!-- 上一页 -->
    <li th:if="${pageVO.hasPrePage == false}"><span style="color : gray">上一页</span></li>
    <li th:if="${pageVO.hasPrePage == true}"><a th:href="@{/user/list.do(num=${pageVO.pageNum - 1})}">上一页</a></li>
    <!--   总页数大于0且小于等于5  -->
    <th:block th:if="${pageVO.totalPage > 0 && pageVO.totalPage <=5}" th:each="page : ${pageVO.showPages}">
        <li><a th:href="@{/user/list.do(num=${page})}">
            <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
        </a>
        </li>
    </th:block>
    <!--   总页数页数等于6  -->
    <th:block th:if="${pageVO.totalPage ==6}" >
        <th:block th:if="${pageVO.pageNum <= 3}" >
            <th:block th:each="page : ${pageVO.showPages}">
                <li><a th:href="@{/user/list.do(num=${page})}">
                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                </a>
                </li>
            </th:block>
            <li><span>...</span></li>
        </th:block>
        <th:block th:if="${pageVO.pageNum > 3}" >
            <li><span>...</span></li>
            <th:block th:each="page : ${pageVO.showPages}">
                <li><a th:href="@{/user/list.do(num=${page})}">
                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                </a>
                </li>
            </th:block>
        </th:block>
    </th:block>
    <!--   总页数页数大于6  -->
    <th:block th:if="${pageVO.totalPage > 6}" >
        <th:block th:if="${pageVO.pageNum <= 3}" >
            <th:block th:each="page : ${pageVO.showPages}">
                <li><a th:href="@{/user/list.do(num=${page})}">
                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                </a>
                </li>
            </th:block>
            <li><span>...</span></li>
        </th:block>
        <th:block th:if="${pageVO.pageNum > 3 && pageVO.pageNum < pageVO.totalPage - 2}" >
            <li><span>...</span></li>
            <th:block th:each="page : ${pageVO.showPages}">
                <li><a th:href="@{/user/list.do(num=${page})}">
                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                </a>
                </li>
            </th:block>
            <li><span>...</span></li>
        </th:block>
        <th:block th:if="${pageVO.pageNum >= pageVO.totalPage - 2}" >
            <li><span>...</span></li>
            <th:block th:each="page : ${pageVO.showPages}">
                <li><a th:href="@{/user/list.do(num=${page})}">
                    <span th:text="${page}" th:style="${page} == ${pageVO.pageNum} ? 'color : red' : '' ">No.</span>
                </a>
                </li>
            </th:block>
        </th:block>
    </th:block>
    <!-- 下一页 -->
    <li th:if="${pageVO.hasNextPage == false}"><span style="color: gray">下一页</span></li>
    <li th:if="${pageVO.hasNextPage == true}"><a th:href="@{/user/list.do(num=${pageVO.pageNum + 1})}">下一页</a></li>
    <li><a th:href="@{/user/list.do(num=${pageVO.totalPage})}" th:text="'末页 - ' + ${pageVO.totalPage}">末页</a></li>
</ul>

</html>