<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：对应哪个接口 -->
<mapper namespace="me.jar.scw.manager.dao.TPermissionMapper">

    <select id="selectAllMenu" resultType="me.jar.scw.manager.model.TPermission">
		SELECT * FROM t_permission
	</select>

    <select id="selectPermissionIdByRoleId" resultType="java.lang.Integer">
        SELECT permissionid AS pid FROM t_role_permission WHERE roleid=#{roleId}
    </select>

    <delete id="deletePermissionIdByRoleId">
        DELETE FROM t_role_permission WHERE roleid=#{roleId}
    </delete>

    <insert id="insertPermissionWithRole">
        INSERT INTO t_role_permission(roleid,permissionid) VALUES
        <foreach collection="pIds" item="pId" separator=",">
            (#{roleId},#{pId})
        </foreach>
    </insert>
</mapper>


