<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：对应哪个接口 -->
<mapper namespace="me.jar.scw.manager.dao.TUserRoleMapper">
    <select id="selectRoleByUserId" resultType="me.jar.scw.manager.model.TRole">
		SELECT t.id,t.name FROM t_role t
			LEFT JOIN t_user_role tu ON tu.roleid=t.id
			LEFT JOIN t_user u ON u.id=tu.userid WHERE u.id=#{id}
	</select>

	<select id="selectAllRole" resultType="me.jar.scw.manager.model.TRole">
		SELECT * FROM t_role
	</select>

    <insert id="insertRoleByUserId">
		INSERT INTO t_user_role(userid,roleid) VALUES
		<foreach collection="roleIdList" item="roleId" separator=",">
			(#{userId},#{roleId})
		</foreach>
	</insert>

    <delete id="deleteRoleIdUserId">
		DELETE FROM t_user_role WHERE userid=#{userId} AND roleid IN
			<foreach collection="roleIdList" open="(" close=")" separator="," item="roleId">
				#{roleId}
			</foreach>
	</delete>

    <select id="selectRoleByKeyWord" resultType="me.jar.scw.manager.model.TRole">
		SELECT * FROM t_role
		<if test="keyWord != null">
			WHERE name LIKE concat('%',#{keyWord},'%')
		</if>
		<if test="pageNum != null and pageSize != null">
			LIMIT ${pageNum},#{pageSize}
		</if>
	</select>

	<select id="countRoleNumByKeyWord" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_role
		<if test="keyWord != null">
			WHERE name LIKE concat('%',#{keyWord},'%')
		</if>

	</select>
	<select id="selectTenRole" resultType="me.jar.scw.manager.model.TRole">
		SELECT * FROM t_role LIMIT 0,10
	</select>

    <select id="checkRoleExist" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_role WHERE name=#{roleName}
    </select>

    <insert id="insertNewRoleByName">
        INSERT INTO t_role(id,name) VALUES(
            (SELECT MAX(t.id) FROM t_role t)+1,#{roleName}
        )
    </insert>

	<delete id="deleteRoleById">
		DELETE FROM t_role WHERE id IN
			<if test="roleIdList != null">
				<foreach collection="roleIdList" item="roleId" separator="," open="(" close=")">
					#{roleId}
				</foreach>
			</if>
	</delete>
</mapper>


