<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：对应哪个接口 -->
<mapper namespace="me.jar.scw.manager.dao.TUserRoleMapper">
    <select id="selectRoleByUserId" resultType="me.jar.scw.manager.model.TRole">
		SELECT t.id,t.name FROM t_role t
			LEFT JOIN t_user_role tu ON tu.roleid=t.id
			LEFT JOIN t_user u ON u.id=tu.userid WHERE u.id=#{id}
	</select>

	<select id="selectAllRole" resultType="me.jar.scw.manager.model.TRole">
		SELECT * FROM t_role
	</select>

	<insert id="insertRoleByUserId">
		INSERT INTO t_user_role(userid,roleid) VALUES
		<foreach collection="roleIdList" item="roleId" separator=",">
			(#{userId},#{roleId})
		</foreach>
	</insert>

	<delete id="deleteRoleIdUserId">
		DELETE FROM t_user_role WHERE userid=#{userId} AND roleid IN
			<foreach collection="roleIdList" open="(" close=")" separator="," item="roleId">
				#{roleId}
			</foreach>
	</delete>
</mapper>


