<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：对应哪个接口 -->
<mapper namespace="me.jar.scw.manager.dao.TUserMapper">
	<insert id="insertUser" parameterType="me.jar.scw.manager.model.TUser">
		INSERT INTO
			t_user
		VALUES
			(#{id},#{loginAcct},#{userPswd},#{userName},#{email},#{createTime});
	</insert>

	<select id="selectAllUsers" resultType="me.jar.scw.manager.model.TUser">
		SELECT id,loginAcct,userName,email
		FROM t_user
		<if test="search != null">
			WHERE  userName LIKE concat('%', #{search}, '%')
		</if>
		ORDER BY id DESC
		<if test="pageNum != null and pageSize != null">
			LIMIT #{pageNum},#{pageSize}
		</if>
	</select>

	<select id="countAllUsers" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_user
		<if test="search != null">
			WHERE  userName LIKE concat('%', #{search}, '%')
		</if>
	</select>

	<insert id="insertUserSelective" parameterType="me.jar.scw.manager.model.TUser"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="loginAcct != null">loginacct,</if>
			<if test="userPswd != null">userpswd,</if>
			<if test="userName != null">username,</if>
			<if test="email != null">email,</if>
			<if test="createTime != null">createtime,</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="loginAcct != null">#{loginAcct},</if>
			<if test="userPswd != null">#{userPswd},</if>
			<if test="userName != null">#{userName},</if>
			<if test="email != null">#{email},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

    <select id="checkUserLogin" parameterType="me.jar.scw.manager.model.TUser" resultType="java.lang.Integer">
		SELECT id FROM
			t_user
		WHERE
			username=#{userName} AND userpswd=#{userPswd}
	</select>

    <select id="selectUserById" resultType="me.jar.scw.manager.model.TUser">
		SELECT loginacct loginAcct,username userName,email FROM t_user WHERE id=#{userId}
	</select>

	<update id="updateUserInfo" parameterType="me.jar.scw.manager.model.TUser">
		UPDATE t_user
			<set>
				<if test="loginAcct != null">loginacct=#{loginAcct},</if>
				<if test="userPswd != null">userpswd=#{userPswd},</if>
				<if test="userName != null">username=#{userName},</if>
				<if test="email != null">email=#{email},</if>
			</set>
		WHERE
			id=#{id}
	</update>

	<delete id="deleteUserById" parameterType="java.util.List">
		DELETE FROM
			t_user
		WHERE
			id
		IN
			<foreach collection="list" open="(" close=")" separator="," item="id">
				#{id}
			</foreach>
	</delete>

    <!--	因为之前设计没有给邮箱添加唯一性约束，所以暂时添加limit 1-->
	<select id="selectUserIdByEmail" resultType="java.lang.Integer">
		SELECT id FROM t_user WHERE email=#{email} LIMIT 1
	</select>

	<insert id="insertUserToken">
		INSERT INTO t_user_token(userid,token,createtime) VALUES (#{userId},#{token},NOW())
	</insert>

    <delete id="deleteIfRecordExist">
        DELETE FROM t_user_token WHERE userid=#{userId}
    </delete>

    <select id="checkTokenExist" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_user_token WHERE token=#{token} AND
        TIMESTAMPDIFF(MINUTE,DATE_SUB(NOW(),INTERVAL 30 MINUTE),(SELECT createtime FROM t_user_token WHERE token=#{token}))>0
    </select>

	<select id="selectUserIdByToken" resultType="java.lang.Integer">
		SELECT userid FROM t_user_token WHERE token=#{token}
	</select>

	<update id="updatePwdByUserId">
		UPDATE t_user SET userpswd=#{pwd} WHERE id=#{userId}
	</update>

</mapper>


